*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#d{
  transition: .5s ease-in-out;
}
#d:hover{
  transform: scale(1.04);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
h1,b {

  background: -webkit-linear-gradient(#06f542, #efff11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p{
  font-family: 'PT Sans Narrow', sans-serif;
}
b{
  font-family: 'PT Sans Narrow', sans-serif;
}

